.custom-nav {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    padding: 10px;
    font-size: 4vh;
}

.title-text {
    font-size: 6vh !important;
    font-weight: bold !important;
    color: #D22030 !important;
}

.csun-text {
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}